<div class='container'>
<form action="/notes" method="post">
    Title<input type="text" name="title"><br>
    Note<textarea rows="4" cols="50" name="body"></textarea><br>
    <input type="submit" value="Create">
</form>
</div>
